* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Games';
    src: url('Games.ttf');
}

h1 {
    align-self: center;
    border: 20px;
    font-family: 'Games';
}

body {
    background-color:slategrey;
}

[game] {
    background-image: url('./img/cana.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: cover;
    position: relative;
    border: 10px solid midnightblue;
    height: 700px;
    width: 1200px;
    margin: 20px;
    background-color: deepskyblue;
    overflow: hidden;
}

.virus {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.par-de-cloro {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.cloro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.cloroquine {   
    width: 150px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    
}

.prog {
    font-family: 'Games';
    position: absolute;
    color: blanchedalmond;
    top: 10px;
    left: 10px;
    font-size: 70px;
    z-index: 1;
}
